// ==========================================================================
// RESET
// ==========================================================================

@use '../abstracts' as *;

// Modern CSS Reset based on Josh Comeau's CSS Reset
// https://www.joshwcomeau.com/css/custom-css-reset/

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  line-height: $line-height-normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  color: $color-text-primary;
  background-color: $color-background;
  transition:
    color 0.5s,
    background-color 0.5s;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next,
#app {
  isolation: isolate;
}
